@font-face 
{
  font-family: Quicksilver;
  src: url("../fonts/Quicksilver\ Italic.otf");
}


*{
    margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-color: rgb(34, 34, 34);
    overflow-x: hidden;
}

/** HEADER **/

.header{
    position: fixed;
    top: 0%;
    height: 8.5vh;
    width: 100%;
    background-color: rgb(24, 24, 24);
    box-shadow: inset 0vh -1vh 5vh black;
    filter: drop-shadow(0vh 0vh 5vh black);
}

.centeringHeader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeringHeader h1{
    font-family: Quicksilver;
    color: white;
    font-size: 4vh;
    margin-left: 3vh;
    margin-right: 3vh;
    cursor: pointer;
    text-shadow: 0vh 0.35vh 0 rgba(0, 0, 0, 0.692);
}

/** HEADER **/

/** BODY **/

.centering{
    display: flex;
    justify-content: center;
}

.logoTop{
    margin-top: 10.5vh;
    width: 22.5%;
}

/** BODY **/

/* CAROUSSEL 1*/


.insideBodyCaroussel{
    position: absolute;
    transition: all 1s;
    transition-timing-function: cubic-bezier(.22,.76,.2,.97);
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.caroussel{
    position: absolute;
    top: 18%;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    perspective: 900px;
}

.test1{
    width: 50%;
    height: 60%;
    background-image: url(../image/dragonBallOmega/taleng.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0vh 0vh 3vh black;
    z-index: 1;
    animation: imageIn 1.5s;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 0.10vh;
}

@keyframes imageIn{
    from{
        opacity: 50%;
        transform: scale(0.75);
        transform: rotateY(0deg) rotateX(10deg) rotateZ(0deg);
    }to{
        opacity: 100;
        transform: scale(1);
    }
}

.codeIn{
    transform: rotateY(20deg) rotateX(-2deg) rotateZ(3deg);
    position: absolute;
    top: 7%;
    left: 15%;
    width: 27.5%;
    z-index: 0;
    box-shadow: 0vh 0vh 3vh black;
    animation: animCodeIn 1.5s;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 0.10vh;
}

@keyframes animCodeIn {
    from{
        opacity: 0;
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }to{
        opacity: 100;
        transform: rotateY(20deg) rotateX(-2deg) rotateZ(3deg);
    }
}

.prevuIn{
    transform: rotateY(-20deg) rotateX(2deg) rotateZ(-3deg);
    position: absolute;
    top: 60%;
    right: 10%;
    width: 27.5%;
    z-index: 0;
    animation: animPrevuIn 1.5s;
    box-shadow: 0vh 0vh 3vh black;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 0.10vh;
}

@keyframes animPrevuIn {
    from{
        opacity: 0;
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }to{
        opacity: 100;
        transform: rotateY(-20deg) rotateX(2deg) rotateZ(-3deg);
    }
}

.caroussel h1{
    font-family: Quicksilver;
    left: 2%;
    position: absolute;
    bottom: 3%;
    font-size: 4vh;
    color: white;
    text-shadow: 0vh 0.5vh 0 rgba(0, 0, 0, 0.692);
}

.caroussel h2{
    font-family: Quicksilver;
    left: 2%;
    position: absolute;
    bottom: 1%;
    font-size: 2vh;
    color: white;
    text-shadow: 0vh 0.5vh 0 rgba(0, 0, 0, 0.692);
}

.goRight{
    position: absolute;
    width: 4vh;
    top: 26vh;
    right: 1%;
    fill: white;
    filter: drop-shadow(0 0.75vh 0 rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.goLeft{
    position: absolute;
    width: 4vh;
    top: 26vh;
    left: 1%;
    transform: rotateY(180deg);
    fill: white;
    filter: drop-shadow(0 0.75vh 0 rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

#car1{
    left:-100%;
}

#car3{
    left:100%;
}

/* CAROUSSEL 1*/

