@font-face 
{
  font-family: Quicksilver;
  src: url("../fonts/Quicksilver\ Italic.otf");
}


*{
    margin: 0;
    font: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/** LOADER **/

.loadingPage{
    background-color: black;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    animation-fill-mode: both;
    z-index: 10;
    opacity: 100%;
    transition: all 1s;
    z-index: 100;
}

.loadingPage.disapear{
    transition: all 1s;
    opacity: 0%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering:pixelated;
}

/** LOADER **/

body{
    background-color: rgb(44, 43, 49);
    overflow-x: hidden;
}

/** HEADER **/

.header{
    z-index: 10;
    position: fixed;
    top: 0%;
    height: 8.5vh;
    width: 100%;
    background-color: rgb(24, 24, 24);
    box-shadow: inset 0vh -1vh 5vh black;
    filter: drop-shadow(0vh 0vh 5vh black);
}

.centeringHeader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeringHeader h1{
    font-family: Quicksilver;
    color: white;
    font-size: 4vh;
    margin-left: 3vh;
    margin-right: 3vh;
    cursor: pointer;
    text-shadow: 0vh 0.35vh 0 rgba(0, 0, 0, 0.692);
}

h1 a{
    text-underline-offset : 3px;
    color: rgb(255, 255, 255);
    text-decoration-thickness : 0px;
    text-decoration:underline;
    color: white;
    transition: all 0.5s;
}

h1 a:hover{
    animation: hoverAnim 1s;
    color: rgb(0, 0, 0);
    text-underline-offset : -3.25vh;
    text-decoration-thickness : 4vh;
    text-decoration-skip-ink : none;
    transition: all 1s;
    text-shadow: 0vh 0.35vh 0 rgba(228, 162, 162, 0.89);
    text-decoration-color: rgb(255, 255, 255);
}


@keyframes hoverAnim {
    from{
        text-underline-offset : 3px;
        text-decoration-thickness : 0px;
    }to{
        text-underline-offset : -3.25vh;
        text-decoration-thickness : 4vh;
        text-decoration-skip-ink : none;
    }
}

/** HEADER **/

/** LOGO **/

.centering{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.logoTop{
    margin-top: 10vh;
    width: 40vh;
    height: 20vh;
    transition:all 1s;
    background-size: cover;
    background-image: url(../image/fx/logoEthewProjets.png);
}

.barre{
    width: 18%;
    opacity: 50%;
}

/** LOGO **/

/** PROJECT **/

.projectList{
    display: flex;
    flex-direction: column;
}

.project1{
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    display: flex;
    align-items: center;
    perspective: 900px;
    justify-content: center;
}

.prevu{
    width: 65vh;
    height: 40vh;
    background-color: aqua;
    background-image: url(../image/fallenNecromancer/taleng.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0vh 0vh 3vh black;
    border-style: solid;
    border-color: rgba(120, 235, 255, 0.5);
    border-width: 0.25vh;
}

.project1 .textProject{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10vh;
    width: 40%;
    
}

.project1 .barreProj{
    width: 70%;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.project1 h1{
    font-family: Quicksilver;
    color: white;
    font-size: 5vh;
}

.textProject h1{
    text-align: center;
}

.project1 p{
    font-family: Quicksilver;
    color: white;
    font-size: 2.5vh;
    text-align: justify;
}

.buttonSeeMore{
    font-family: Quicksilver;
    padding: 2.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2.5vh;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 3vh;
    margin-top: 3vh;
    box-shadow: 0 0 1vh black;
    transition: all 1s;
}

.buttonSeeMore:hover{
    transform: translateY(-0.25vh);
    transition: all 1s;
    background-color: rgb(0,0,0,0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0.25vh 1vh white;
}

/** PROJECT **/

/** PROJECT2 **/

.project2{
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    perspective: 900px;
    justify-content: center;
}

.prevu2{
    width: 65vh;
    height: 40vh;
    background-color: aqua;
    background-image: url(../image/goblinSeeker/taleng.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0vh 0vh 3vh black;
    border-style: solid;
    border-color: rgba(120, 255, 127, 0.5);
    border-width: 0.25vh;
}

.project2 .textProject{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10vh;
    width: 40%;
}

.project2 .barreProj{
    width: 70%;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.project2 h1{
    font-family: Quicksilver;
    color: white;
    font-size: 5vh;
}

.project2 p{
    font-family: Quicksilver;
    color: white;
    font-size: 1.75vh;
    text-align: justify;
}

/** PROJECT2 **/

/** PROJECT3 **/

.project3{
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    perspective: 900px;
    justify-content: center;
}

.project3 .textProject{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10vh;
    text-align: center;
    width: 40%;
}

.project3 .prevu{
    background-image: url(../image/dragonBallOmega/taleng.png);
    border-color: rgba(255, 120, 120, 0.5);
}

.project3 .barreProj{
    width: 70%;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.project3 h1{
    font-family: Quicksilver;
    text-align: center;
    color: white;
    font-size: 5vh;
}

.project3 p{
    font-family: Quicksilver;
    color: white;
    font-size: 1.75vh;
    text-align: justify;
}

.projectList h1{
    text-shadow: 0vh 0.5vh 0vh rgba(0, 0, 0, 0.6);
}

/** PROJECT3 **/

/** PROJECT4 **/

.project4{
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    perspective: 900px;
    justify-content: center;
}


.project4 .textProject{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10vh;
    width: 40%;
}

.project4 .prevu2{
    background-image: url(../image/gameint/taleng.png);
    border-color: rgba(179, 34, 34, 0.5);
}

.project4 .barreProj{
    width: 70%;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.project4 h1{
    font-family: Quicksilver;
    color: white;
    font-size: 5vh;
}

.project4 p{
    font-family: Quicksilver;
    color: white;
    font-size: 1.75vh;
    text-align: justify;
}

.textProject p{
    font-family: Quicksilver;
    color: white;
    font-size: 2.5vh;
    text-align: justify;
}

/** PROJECT4 **/
